@model List<eCommerce.cs.Data.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div style="border-radius: 0" class="thumbnail">
                <img src="@item.Image" class="img-responsive" alt="@item.ProductName">
                <div class="caption">
                    <p>@item.ProductName</p>
                    <a href="#" class="btn btn-primary btn-sm" role="button">Details</a>
                    <a asp-action="Show" asp-controller="Home" asp-route-id="@item.ProductID" class="btn btn-default btn-sm" role="button">@String.Format("{0:c}", item.Price)</a>
                </div>
            </div>
        </div>
    }
</div>