@model eCommerce.cs.Data.Entities.Product
@{
    ViewData["Title"] = "Product Details";
}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        @Model.ProductName
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <strong>DESCRIPTION</strong>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <strong>PRICE</strong>
                        <p>@String.Format("{0:c}", Model.Price)</p>
                    </div>
                    <div class="col-md-6">
                        <strong>AVAILABILITY</strong>
                        @if (Model.IsAvailable)
                        {
                            <p class="text-success">In Stock</p>
                        }
                        else
                        {
                            <p class="text-danger">Out of Stock</p>
                        }
                    </div>
                </div>

                <hr />

                <span style="border-radius: 0" class="label label-primary">@Model.ProductType.ProductTypeName</span>
                <span style="border-radius: 0" class="label label-success">@Model.SpecialTag.TagName</span>
            </div>
            <div class="col-md-4">
                <img src="@Model.Image" alt="@Model.ProductName" class="img-responsive">

                <hr />
                @{
                    bool isInCart = false;
                    List<int> cart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ShoppingCart");
                    if (cart != null && cart.Contains(Model.ProductID))
                    {
                        isInCart = true;
                    }
                }

                @if (isInCart)
                {
                    <form method="post">
                        <input hidden asp-for="ProductID" />
                        <button asp-controller="ShoppingCart" asp-action="DeleteFromCart" asp-route-id="@Model.ProductID" class="btn btn-danger btn-block">
                            Remove From Card
                        </button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <input hidden asp-for="ProductID" />
                        <button asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.ProductID" class="btn btn-success btn-block">
                            Add to Card
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>