@model IEnumerable<eCommerce.cs.Data.Entities.Product>
@{
    ViewData["Title"] = "Products";
}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        PRODUCTS
    </div>
    <div class="panel-body text-right">
        <a asp-action="Create" class="btn btn-primary btn-sm">Create a New Product</a>
    </div>
    <hr style="margin: 0" />
    <div style="padding: 0" class="panel-body">
        <table style="margin: 0" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.ProductID)</th>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.Price)</th>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.ProductType.ProductTypeName)</th>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.SpecialTag.TagName)</th>
                    <th class="col-md-2 text-center">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td class="col-md-2">
                            @String.Format("{0:c}", item.Price)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.SpecialTag.TagName)
                        </td>
                        <td class="col-md-2 text-center">
                            <partial name="_TableButtonsPartial" model="item.ProductID" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>